.divider-vertical {
    height: 50px;
    margin: 0 9px;
    border-left: 1px solid #F2F2F2;
    border-right: 1px solid #FFF;
}

.navbar-inverse .divider-vertical {
     border-right-color: #222222;
     border-left-color: #111111;
 }

.margin-bottom-20 {
    margin-bottom: 20px;
}

.margin-top-20{
    margin-top: 70px;
}

.ligne-selectionnable{
    cursor:pointer;
}

.liens-footer{
    color:#0a93a6;
    text-decoration:none;
}